.calendarContainer {
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.fc {
  color: var(--foreground);
  font-family: sans-serif;
}

.fc-daygrid-day {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.fc-daygrid-day:hover {
  background-color: var(--primary-accent);
}

.fc-daygrid-day-number {
  color: var(--foreground);
  font-weight: bold;
  text-align: center;
}

.fc-event {
  background-color: var(--highlight);
  color: var(--foreground);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;
}

.fc-event:hover {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.fc-toolbar {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--foreground);
}

.fc-toolbar-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.fc-button {
  background-color: var(--primary-accent);
  color: var(--foreground);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s;
}

.fc-button:hover {
  background-color: var(--secondary-accent);
}
.disabledDay {
  background-color: #ccc !important;
  pointer-events: none;
  opacity: 0.6;
}
