/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables for Light and Dark Themes */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-background: #ccc9c9;
  --button-text: #000000;
  --button-shadow: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --button-background: #333333;
    --button-text: #ffffff;
    --button-shadow: rgba(255, 255, 255, 0.2);
  }
}

/* Using Custom Variables in Tailwind */
body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-sans min-h-screen flex flex-col;
}



/* Main Content Styles */
.mainContent {
  @apply py-10 flex-grow;
}



/* Headings and Text Styling */
h3 {
  margin-top: 20px;
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}
.swiper-wrapper {
  transition-timing-function: cubic-bezier(.31,0,.56,.98) !important; /* Плавна інерція */
}


